/*Vital Sign Graphs */
.chart-container {
    width: 1000px;
    height: 600px;
}


/*Login Page*/

/*Login paragraph about Continuing Care*/
.login-introduction {
    text-align: center;
    padding-top: 40px;
    max-width: 800px;
    font-size: 20px;
    font-weight: 400;
}

#login-new-user {
    padding-left: 20px;
    padding-top: 40px;
}

#login {
    padding-bottom: 10px;
}

#login_button:hover {
    background-color: #FFA381;
}

#new_user_button {
    width: 170px;
    height: 75px;
}

#new_user_button:hover {
    background-color: #FFA381;
}

#new_user_link {
    font-size: 20px;
}



/*Create New User Page*/

/*Background image for create new user page.*/
body#new_user_page {
    background-image: url("/static/images/2fc30b45-a675-45f5-8a81-bba2f8707e7a_World_Mental_Health.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#new_account {
    padding-left: 20px;
}

/*create new user submit button*/
#new_user_submit:hover {
    background-color: #FFA381;
}






/* Profile page about Continuing Care */
.profile-introduction {
        text-align: left;
        max-width: 800px;
        font-size: 20px;
        font-weight: 400;
        padding: 20px;
        padding-top: 10px;
    }

#link_to_profile {
    font-size: 24px;
    padding: 20px;
    padding-bottom: 10px;
}

.hyperlink:hover {
    color: orange;
}

/*Background image on homepage*/
body.homepage-container {
    background-image: url("/static/images/2fc30b45-a675-45f5-8a81-bba2f8707e7a_World_Mental_Health.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}


h1, h2, h3, h4, h5, h6 {
    font-family: 'Proto', serif; 
}

h1.welcome {
    font-size: 50px;
    padding: 20px;
}


.email {
    font-style: italic;

}

.password {
    font-style: italic;
}

.name{
    font-style: italic;
}


/*Profile page*/

body#profile-container {
    background-color: #9FCBD1;
}

#profile_welcome {
    text-align: left;
    padding-top: 40px;
    padding-bottom: 40px;
}

#health_condition_group {
    text-align: left;
    padding-bottom: 20px;
    font-weight: 700;
}

#saved_user_conditions {
    text-align: left;
    padding: 40px;
    padding-bottom: 60px;   
}

.saved_condition_name {
    font-size: 24px;
}

.saved_synonyms {
    padding-left: 20px;
}

.saved_date {
    padding-left: 20px;
}

.form-floating {
    padding-left: 20px;
}

.form-control {
    border: 2px solid black;
}

.delete_comment_button {
    padding-left: 200px;
}

#recent_vital_header {
    padding-left: 1050px;
}

#new_vital_link {
    padding-left: 1080px;
}

#saved_physician_profile {
    padding-bottom: 60px;
}

.saved_physician_results_profile {
    padding-left: 20px;
    font-size: 18px;
    padding-bottom: 200px;
}

h3.profile_section_title {
    font-size: 30px;
}







/*Vital Sign Record Form Page*/

/*Vital sign form page background*/
body#vital_sign_form_page-container {
    background-image: url("/static/images/ocean sunset.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#intro_vital_sign_form {
    text-align: center;
    margin: 0 auto;
    padding-top: 20px;
}

#vitalSignForm {
    text-align: left;
}

#heart_rate_form input {
    margin-left: 30px;
}

#oxygen_form input {
    margin-left: 30px;
}

#weight_form input {
    margin-left: 18px;
}

#glucose_form input {
    margin-left: 45px;
}

#enter_vitals {
    text-align: center;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 10px;
}

#vital_submit_button {
    text-align: center;
    margin: 0 auto;
    padding-top: 10px;
}

.submit-vitals {
    width: 100px;
    height: 50px;
} 

#vital_sign_form_container {
    text-align: center; 
    padding: 20px;
    padding-left: 60px;
    width: 100%;
    border: 2px solid black;
    max-width: 450px;
    background-color: #FDF2EE;
    margin: 0 auto;
}







/*Search for health condition page*/

#search_health_condition {
    text-align: center;
    margin: 0 auto;
    padding: 20px;
}

/*Background for search for health condition page.*/
body#search_condition_page-container {
    background-image: url("/static/images/20191219170611-GettyImages-1152794789.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}



/*Search Results for a health Condition Page*/

/*Search results page listing results*/
#all_search_condition_results {
    margin-left: 20px;
   
}

/*Intro on condition search results page*/
#intro_results {
    text-align: center;
    margin: 0 auto;
    padding: 20px;
    font-size: 20px;
}

/*Background color for page on search results for conditions*/
body#condition_results-container {
    background-color: #DAD8F0;
}

/*Search result title of each condition result.*/
.condition_result {
    font-size: 24px;
}

/*Add condition button on search results page*/
.condition_add {
    font-size: 14px;
}

#condition_result_input {
    text-align: left;
    padding-top: 40px;
    padding-bottom: 40px;
}








/*Search for Physician Page*/

/*Background image for search for physician page*/
body#search_physician_page {
    background-image: url("/static/images/thomas-rey-Oadvsf3xH9E-unsplash.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/*Physician Results*/
#physicianResultsContainer {
    background-color: #FDF2EE;
    width: 600px;
    position: absolute;
    top: 35%;
    left: 33%;
    text-align: center;
}

/*Intro for search for physician page.*/
#search_physician_header {
    text-align: center;
    position: absolute;
    top: 10%;
    left: 40%;
}

/*Find physician submit button hover*/
#search_result:hover {
    background-color: #FFA381;
}


.addPhysician {
    font-size: 14px;
    position: relative;
}

.physician_name {
    font-weight: bold;
}





/*All health conditions A to Z page*/

/*Intro on Health Condition A to Z page*/
#all_health_conditions_header {
    text-align: center;
    margin: 0 auto;
    padding: 20px;
}

#a_to_z {
    text-align: center;
    margin: 0 auto;
}

#a_to_z_intro {
    text-align: center;
    margin: 0 auto;
}

#a {
    padding-top: 40px;
    padding-bottom: 40px;
    font-size: 48px;
}

#b {
    padding-top: 60px;
    padding-bottom: 40px;
    text-align: left;
}

#c {
    padding-top: 60px;
    padding-bottom: 40px;
    text-align: left;
}

#d {
    padding-top: 60px;
    padding-bottom: 40px;
    text-align: left;
}

#e {
    padding-top: 60px;
    padding-bottom: 40px;
    text-align: left;
}

#f{
    padding-top: 60px;
    padding-bottom: 40px;
    text-align: left; 
}

#g {
    padding-top: 60px;
    padding-bottom: 40px;
    text-align: left;
}

#h {
    padding-top: 60px;
    padding-bottom: 40px;
    text-align: left;
}

#i {
    padding-top: 60px;
    padding-bottom: 40px;
    text-align: left;
}

#j {
    padding-top: 60px;
    padding-bottom: 40px;
    text-align: left;
}

#k {
    padding-top: 60px;
    padding-bottom: 40px;
    text-align: left;
}

#l {
    padding-top: 60px;
    padding-bottom: 40px;
    text-align: left;
}

#m {
    padding-top: 60px;
    padding-bottom: 40px;
    text-align: left;
}

#n {
    padding-top: 60px;
    padding-bottom: 40px;
    text-align: left;
}

#o {
    padding-top: 60px;
    padding-bottom: 40px;
    text-align: left;
}

#p {
    padding-top: 60px;
    padding-bottom: 40px;
    text-align: left;
}

#q {
    padding-top: 60px;
    padding-bottom: 40px;
    text-align: left;
}

#r {
    padding-top: 60px;
    padding-bottom: 40px;
    text-align: left;
}

#s {
    padding-top: 60px;
    padding-bottom: 40px;
    text-align: left;
}

#t {
    padding-top: 60px;
    padding-bottom: 40px;
    text-align: left;
}

#u {
    padding-top: 60px;
    padding-bottom: 40px;
    text-align: left;
}

#v {
    padding-top: 60px;
    padding-bottom: 40px;
    text-align: left;
}

#w {
    padding-top: 60px;
    padding-bottom: 40px;
    text-align: left;
}

#x {
    padding-top: 60px;
    padding-bottom: 40px;
    text-align: left;
}

#y {
    padding-top: 60px;
    padding-bottom: 40px;
    text-align: left;
}

#z {
    padding-top: 60px;
    padding-bottom: 40px;
    text-align: left;
}





/*Navbar*/

/*Navbar search button*/
.btn-outline-success {
    border-color: black;
    color: black;
}

/*Navbar search hover*/
.btn-outline-success:hover {
    background-color: #FFA381;
}

/*Navbar search input*/
.d-flex {
    margin-right: 50px;
}






