.chart-container {
    width: 1000px;
    height: 600px;
}


.login-introduction {
    text-align: center;
    position: absolute;
    top: 0;
    margin: 200px 0 auto;
    margin-left: -600px;
    left: 50%;
    max-width: 800px;
    font-size: 20px;
    font-weight: 400;
}

body.homepage-container {
    background-image: url("/static/images/2fc30b45-a675-45f5-8a81-bba2f8707e7a_World_Mental_Health.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

footer {
    position: fixed;
    bottom: 0;
    left: 20px;
    width: 100%;
    text-align:left;
}

#login-new-user {
    margin-left: 20px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Proto', serif; 
}

h1.welcome {
    font-size: 50px;
    margin-left: 20px;
}

.email {
    font-style: italic;
}

.email input {
    margin-left: 30px;
}

.password {
    font-style: italic;
}

.password input {
    margin-left: 4px;
}

.name{
    font-style: italic;
}

.name input {
    margin-left: 27px;
}

#search_health_condition {
    text-align: center;
    position: absolute;
    top: 10%;
    left: 38%;
}

#vital_sign_form_container {
    text-align: center;
    position: absolute;
    top: 35%;
    left:38%;
    border: 2px solid black;
    padding: 30px;
    width: 450px;
}

#vitalSignForm {
    text-align: left;
}

.submit-vitals {
    display: block;
    margin-top: 400px;
    margin-left: auto;
    margin-right: auto;
}

#enter_vitals {
    text-align: center;
    position: absolute;
    left: 38%;
    top: 30%;
}

#new_user_button {
    width: 170px;
    height: 75px;
}

#new_user_button:hover {
    background-color: #FFA381;
}

#new_user_link {
    font-size: 20px;
}

#login_button:hover {
    background-color: #FFA381;
}

body#search_condition_page-container {
    background-image: url("/static/images/20191219170611-GettyImages-1152794789.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

body#search_physician_page {
    background-image: url("/static/images/thomas-rey-Oadvsf3xH9E-unsplash.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}


#physicianResultsContainer {
    background-color: #F2C5B2;
    width: 600px;
    position: absolute;
    top: 50%;
    left: 30%;
}

#search_physician_header {
    text-align: center;
    position: absolute;
    top: 10%;
    left: 38%;
}

#physician_search {
    text-align: center;
    position: absolute;
    top: 20%;
    left: 38%;
}

body#new_user_page {
    background-image: url("/static/images/2fc30b45-a675-45f5-8a81-bba2f8707e7a_World_Mental_Health.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}


#new_user_submit:hover {
    background-color: #FFA381;
}

#new_account {
    margin-left: 20px;
}

#all_health_conditions_header {
    text-align: center;
    position: absolute;
    top: 20%;
    left: 38%;
}