{% extends 'base.html' %}
{% block title %}Conditions{% endblock %}

{% block body %}
<h1>All Conditions</h1>

<h2>A</h2>
 
<ul>
  {% for condition in conditions %}
    {% if condition.title.startswith('A') %}
    <li>
        <a href= "{{ condition.url }}">{{ condition.title }}</a>
    </li>
    {% endif %}
  {% endfor %}
</ul>

<h2>B</h2>
 
<ul>
  {% for condition in conditions %}
    {% if condition.title.startswith('B') %}
    <li>
        <a href= "{{ condition.url }}">{{ condition.title }}</a>
    </li>
    {% endif %}
  {% endfor %}
</ul>


<h2>C</h2>
 
<ul>
  {% for condition in conditions %}
    {% if condition.title.startswith('C') %}
    <li>
        <a href= "{{ condition.url }}">{{ condition.title }}</a>
    </li>
    {% endif %}
  {% endfor %}
</ul>

<h2>D</h2>
 
<ul>
  {% for condition in conditions %}
    {% if condition.title.startswith('D') %}
    <li>
        <a href= "{{ condition.url }}">{{ condition.title }}</a>
    </li>
    {% endif %}
  {% endfor %}
</ul>


<h2>E</h2>
 
<ul>
  {% for condition in conditions %}
    {% if condition.title.startswith('E') %}
    <li>
        <a href= "{{ condition.url }}">{{ condition.title }}</a>
    </li>
    {% endif %}
  {% endfor %}
</ul>


<h2>F</h2>
 
<ul>
  {% for condition in conditions %}
    {% if condition.title.startswith('F') %}
    <li>
        <a href= "{{ condition.url }}">{{ condition.title }}</a>
    </li>
    {% endif %}
  {% endfor %}
</ul>


<h2>G</h2>
 
<ul>
  {% for condition in conditions %}
    {% if condition.title.startswith('G') %}
    <li>
        <a href= "{{ condition.url }}">{{ condition.title }}</a>
    </li>
    {% endif %}
  {% endfor %}
</ul>

<h2>H</h2>
 
<ul>
  {% for condition in conditions %}
    {% if condition.title.startswith('H') %}
    <li>
        <a href= "{{ condition.url }}">{{ condition.title }}</a>
    </li>
    {% endif %}
  {% endfor %}
</ul>


<h2>I</h2>
 
<ul>
  {% for condition in conditions %}
    {% if condition.title.startswith('I') %}
    <li>
        <a href= "{{ condition.url }}">{{ condition.title }}</a>
    </li>
    {% endif %}
  {% endfor %}
</ul>


<h2>J</h2>
 
<ul>
  {% for condition in conditions %}
    {% if condition.title.startswith('J') %}
    <li>
        <a href= "{{ condition.url }}">{{ condition.title }}</a>
    </li>
    {% endif %}
  {% endfor %}
</ul>

<h2>K</h2>
 
<ul>
  {% for condition in conditions %}
    {% if condition.title.startswith('K') %}
    <li>
        <a href= "{{ condition.url }}">{{ condition.title }}</a>
    </li>
    {% endif %}
  {% endfor %}
</ul>

<h2>L</h2>
 
<ul>
  {% for condition in conditions %}
    {% if condition.title.startswith('L') %}
    <li>
        <a href= "{{ condition.url }}">{{ condition.title }}</a>
    </li>
    {% endif %}
  {% endfor %}
</ul>

<h2>M</h2>
 
<ul>
  {% for condition in conditions %}
    {% if condition.title.startswith('M') %}
    <li>
        <a href= "{{ condition.url }}">{{ condition.title }}</a>
    </li>
    {% endif %}
  {% endfor %}
</ul>

<h2>N</h2>
 
<ul>
  {% for condition in conditions %}
    {% if condition.title.startswith('N') %}
    <li>
        <a href= "{{ condition.url }}">{{ condition.title }}</a>
    </li>
    {% endif %}
  {% endfor %}
</ul>

<h2>O</h2>
 
<ul>
  {% for condition in conditions %}
    {% if condition.title.startswith('O') %}
    <li>
        <a href= "{{ condition.url }}">{{ condition.title }}</a>
    </li>
    {% endif %}
  {% endfor %}
</ul>

<h2>P</h2>
 
<ul>
  {% for condition in conditions %}
    {% if condition.title.startswith('P') %}
    <li>
        <a href= "{{ condition.url }}">{{ condition.title }}</a>
    </li>
    {% endif %}
  {% endfor %}
</ul>

<h2>Q</h2>
 
<ul>
  {% for condition in conditions %}
    {% if condition.title.startswith('Q') %}
    <li>
        <a href= "{{ condition.url }}">{{ condition.title }}</a>
    </li>
    {% endif %}
  {% endfor %}
</ul>

<h2>R</h2>
 
<ul>
  {% for condition in conditions %}
    {% if condition.title.startswith('R') %}
    <li>
        <a href= "{{ condition.url }}">{{ condition.title }}</a>
    </li>
    {% endif %}
  {% endfor %}
</ul>

<h2>S</h2>
 
<ul>
  {% for condition in conditions %}
    {% if condition.title.startswith('S') %}
    <li>
        <a href= "{{ condition.url }}">{{ condition.title }}</a>
    </li>
    {% endif %}
  {% endfor %}
</ul>

<h2>T</h2>
 
<ul>
  {% for condition in conditions %}
    {% if condition.title.startswith('T') %}
    <li>
        <a href= "{{ condition.url }}">{{ condition.title }}</a>
    </li>
    {% endif %}
  {% endfor %}
</ul>

<h2>U</h2>
 
<ul>
  {% for condition in conditions %}
    {% if condition.title.startswith('U') %}
    <li>
        <a href= "{{ condition.url }}">{{ condition.title }}</a>
    </li>
    {% endif %}
  {% endfor %}
</ul>

<h2>V</h2>
 
<ul>
  {% for condition in conditions %}
    {% if condition.title.startswith('V') %}
    <li>
        <a href= "{{ condition.url }}">{{ condition.title }}</a>
    </li>
    {% endif %}
  {% endfor %}
</ul>

<h2>W</h2>
 
<ul>
  {% for condition in conditions %}
    {% if condition.title.startswith('W') %}
    <li>
        <a href= "{{ condition.url }}">{{ condition.title }}</a>
    </li>
    {% endif %}
  {% endfor %}
</ul>

<h2>X</h2>
 
<ul>
  {% for condition in conditions %}
    {% if condition.title.startswith('X') %}
    <li>
        <a href= "{{ condition.url }}">{{ condition.title }}</a>
    </li>
    {% endif %}
  {% endfor %}
</ul>

<h2>Y</h2>
 
<ul>
  {% for condition in conditions %}
    {% if condition.title.startswith('Y') %}
    <li>
        <a href= "{{ condition.url }}">{{ condition.title }}</a>
    </li>
    {% endif %}
  {% endfor %}
</ul>

<h2>Z</h2>
 
<ul>
  {% for condition in conditions %}
    {% if condition.title.startswith('Z') %}
    <li>
        <a href= "{{ condition.url }}">{{ condition.title }}</a>
    </li>
    {% endif %}
  {% endfor %}
</ul>






























{% endblock %}


