{% extends 'base.html' %}
{% block title %}Conditions A to Z{% endblock %}
<head>
  <div>
    <script crossorigin src="https://unpkg.com/react@16/umd/react.development.js"></script>
    <script crossorigin src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>
    <script crossorigin src="https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/6.26.0/babel.js"></script>
  </div>
  
  <script type="text/jsx" src="/static/all_condition.jsx"></script>
</head>
{% block body %}
<body id="all_condition_a_to_z-container">

<div class="container">
  
  <div class="row">
    <div class="col-12">
      <div id="all_health_conditions_header">
        <h1 id="a_to_z_header">Health Conditions A to Z</h1>
      </div>
    </div>
  </div>
  
  <div class="row">
    <div class="col-12">
      <div id="a_to_z_intro"
        <p>Welcome to our comprehensive Health Conditions A-Z page,<br>
          where you can explore an extensive list of health conditions<br>
          from A to Z. Whether you're looking for information on common<br>
          ailments or more rare conditions, you'll find it all here.</p><br>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <div id="a_to_z">
        <h3 id="all_a_to_z">
          <span>
            <a href="#a" class="hyperlink">A</a>
            <a href="#b" class="hyperlink">B</a>
            <a href="#c" class="hyperlink">C</a>
            <a href="#d" class="hyperlink">D</a>
            <a href="#e" class="hyperlink">E</a>
            <a href="#f" class="hyperlink">F</a>
            <a href="#g" class="hyperlink">G</a>
            <a href="#h" class="hyperlink">H</a>
            <a href="#i" class="hyperlink">I</a>
            <a href="#j" class="hyperlink">J</a>
            <a href="#k" class="hyperlink">K</a>
            <a href="#l" class="hyperlink">L</a>
            <a href="#m" class="hyperlink">M</a>
            <a href="#n" class="hyperlink">N</a>
            <a href="#o" class="hyperlink">O</a>
            <a href="#p" class="hyperlink">P</a>
            <a href="#q" class="hyperlink">Q</a>
            <a href="#r" class="hyperlink">R</a>
            <a href="#s" class="hyperlink">S</a>
            <a href="#t" class="hyperlink">T</a>
            <a href="#u" class="hyperlink">U</a>
            <a href="#v" class="hyperlink">V</a>
            <a href="#w" class="hyperlink">W</a>
            <a href="#x" class="hyperlink">X</a>
            <a href="#y" class="hyperlink">Y</a>
            <a href="#z" class="hyperlink">Z</a>
          </span>
        </h3>
      </div>
    </div>
  </div>

  <div class="back_to_top">
    <a href="/conditions" class="hyperlink">Back to Top</a>
  </div>

  <div class="row">
    <div class="col-12">
      <h2 id="a">A</h2>
    </div>
  </div>
 
  <div class="row">
    {% for condition in conditions %}
        {% if condition.title.startswith('A') and condition.url %}
          <div class="col-sm-12, col-md-6, col-lg-4">
           <p><a href= "{{ condition.url }}" target="_blank" class="all_condition_titles hyperlink">{{ condition.title }}</a>
            <!--Button to add to personal conditions-->
            <button id="{{ condition.condition_id }}" class="all_condition_add"> + </button></p>
          </div>
        {% endif %}
    {% endfor %}
  </div>
  
  <div class="row">
    <div class="col-12">
      <h2 id="b">B</h2>
    </div>
  </div>

  <div class="row">
    {% for condition in conditions %}
      {% if condition.title.startswith('B') and condition.url %}
        <div class="col-sm-12, col-md-6, col-lg-4">
         <p><a href= "{{ condition.url }}" target="_blank" class="all_condition_titles hyperlink">{{ condition.title }}</a>
          <!--Button to add to personal conditions-->
          <button id="{{ condition.condition_id }}" class="all_condition_add"> + </button></p>
        </div>
      {% endif %}
    {% endfor %}
  </div>

  <div class="row">
    <div class="col-12">
      <h2 id="c">C</h2>
    </div>
  </div>
 
  <div class="row">
    {% for condition in conditions %}
      {% if condition.title.startswith('C') and condition.url %}
        <div class="col-sm-12, col-md-6, col-lg-4">
         <p><a href= "{{ condition.url }}" target="_blank" class="all_condition_titles hyperlink">{{ condition.title }}</a>
          <!--Button to add to personal conditions-->
          <button id="{{ condition.condition_id }}" class="all_condition_add"> + </button></p>
        </div>
      {% endif %}
    {% endfor %}
  </div>

  <div class="row">
    <div class="col-12">
      <h2 id="d">D</h2>
    </div>
  </div>

  <div class="row">
    {% for condition in conditions %}
      {% if condition.title.startswith('D') and condition.url %}
        <div class="col-sm-12, col-md-6, col-lg-4">
          <p><a href= "{{ condition.url }}" target="_blank" class="all_condition_titles hyperlink">{{ condition.title }}</a>
          <!--Button to add to personal conditions-->
          <button id="{{ condition.condition_id }}" class="all_condition_add"> + </button></p>
        </div>
      {% endif %}
    {% endfor %}
  </div>
    
  <div class="row">
    <div class="col-12">
      <h2 id="e">E</h2>
    </div>
  </div>
 
  <div class="row">
    {% for condition in conditions %}
      {% if condition.title.startswith('E') and condition.url %}
        <div class="col-sm-12, col-md-6, col-lg-4">
          <p><a href= "{{ condition.url }}" target="_blank" class="all_condition_titles hyperlink">{{ condition.title }}</a>
          <!--Button to add to personal conditions-->
          <button id="{{ condition.condition_id }}" class="all_condition_add"> + </button></p>
        </div>
      {% endif %}
    {% endfor %}
  </div>
    
  <div class="row">
    <div class="col-12">
      <h2 id="f">F</h2>
    </div>
  </div>

  <div class="row">
    {% for condition in conditions %}
      {% if condition.title.startswith('F') and condition.url %}
        <div class="col-sm-12, col-md-6, col-lg-4">
          <p><a href= "{{ condition.url }}" target="_blank" class="all_condition_titles hyperlink">{{ condition.title }}</a>
          <!--Button to add to personal conditions-->
          <button id="{{ condition.condition_id }}" class="all_condition_add"> + </button></p>
        </div>
      {% endif %}
    {% endfor %}
  </div>

  <div class="row">
    <div class="col-12">
      <h2 id="g">G</h2>
    </div>
  </div>
 
  <div class="row">
    {% for condition in conditions %}
      {% if condition.title.startswith('G') and condition.url %}
        <div class="col-sm-12, col-md-6, col-lg-4">
          <p><a href= "{{ condition.url }}" target="_blank" class="all_condition_titles hyperlink">{{ condition.title }}</a>
          <!--Button to add to personal conditions-->
          <button id="{{ condition.condition_id }}" class="all_condition_add"> + </button></p>
        </div>
      {% endif %}
    {% endfor %}
  </div>

  <div class="row">
    <div class="col-12">
      <h2 id="h">H</h2>
    </div>
  </div>

  <div class="row">
    {% for condition in conditions %}
      {% if condition.title.startswith('H') and condition.url %}
        <div class="col-sm-12, col-md-6, col-lg-4">
          <p><a href= "{{ condition.url }}" target="_blank" class="all_condition_titles hyperlink">{{ condition.title }}</a>
          <!--Button to add to personal conditions-->
          <button id="{{ condition.condition_id }}" class="all_condition_add"> + </button></p>
        </div>
      {% endif %}
    {% endfor %}
  </div>

  <div class="row">
    <div class="col-12">
      <h2 id="i">I</h2>
    </div>
  </div>

  <div class="row">
    {% for condition in conditions %}
      {% if condition.title.startswith('I') and condition.url %}
        <div class="col-sm-12, col-md-6, col-lg-4">
          <p><a href= "{{ condition.url }}" target="_blank" class="all_condition_titles hyperlink">{{ condition.title }}</a>
          <!--Button to add to personal conditions-->
          <button id="{{ condition.condition_id }}" class="all_condition_add"> + </button></p>
        </div>
      {% endif %}
    {% endfor %}
  </div>

  <div class="row">
    <div class="col-12">
      <h2 id="j">J</h2>
    </div>
  </div>

  <div class="row">
    {% for condition in conditions %}
      {% if condition.title.startswith('J') and condition.url %}
        <div class="col-sm-12, col-md-6, col-lg-4">
          <p><a href= "{{ condition.url }}" target="_blank" class="all_condition_titles hyperlink">{{ condition.title }}</a>
          <!--Button to add to personal conditions-->
          <button id="{{ condition.condition_id }}" class="all_condition_add"> + </button></p>
        </div>
      {% endif %}
    {% endfor %}
  </div>

  <div class="row">
    <div class="col-12">
      <h2 id="k">K</h2>
    </div>
  </div>

  <div class="row">
    {% for condition in conditions %}
      {% if condition.title.startswith('K') and condition.url %}
        <div class="col-sm-12, col-md-6, col-lg-4">
          <p><a href= "{{ condition.url }}" target="_blank" class="all_condition_titles hyperlink">{{ condition.title }}</a>
          <!--Button to add to personal conditions-->
          <button id="{{ condition.condition_id }}" class="all_condition_add"> + </button></p>
        </div>
      {% endif %}
    {% endfor %}
  </div>

  <div class="row">
    <div class="col-12">
      <h2 id="l">L</h2>
    </div>
  </div>

  <div class="row">
    {% for condition in conditions %}
      {% if condition.title.startswith('L') and condition.url %}
        <div class="col-sm-12, col-md-6, col-lg-4">
          <p><a href= "{{ condition.url }}" target="_blank" class="all_condition_titles hyperlink">{{ condition.title }}</a>
          <!--Button to add to personal conditions-->
          <button id="{{ condition.condition_id }}" class="all_condition_add"> + </button></p>
        </div>
      {% endif %}
    {% endfor %}
  </div>

  <div class="row">
    <div class="col-12">
      <h2 id="m">M</h2>
    </div>
  </div>

  <div class="row">
    {% for condition in conditions %}
      {% if condition.title.startswith('M') and condition.url %}
        <div class="col-sm-12, col-md-6, col-lg-4">
          <p><a href= "{{ condition.url }}" target="_blank" class="all_condition_titles hyperlink">{{ condition.title }}</a>
          <!--Button to add to personal conditions-->
          <button id="{{ condition.condition_id }}" class="all_condition_add"> + </button></p>
        </div>
      {% endif %}
    {% endfor %}
  </div>

  <div class="row">
    <div class="col-12">
      <h2 id="n">N</h2>
    </div>
  </div>

  <div class="row">
    {% for condition in conditions %}
      {% if condition.title.startswith('N') and condition.url %}
        <div class="col-sm-12, col-md-6, col-lg-4">
          <p><a href= "{{ condition.url }}" target="_blank" class="all_condition_titles hyperlink">{{ condition.title }}</a>
          <!--Button to add to personal conditions-->
          <button id="{{ condition.condition_id }}" class="all_condition_add"> + </button></p>
        </div>
      {% endif %}
    {% endfor %}
  </div>

<h2 id ="o">O</h2>
 
  <div class="row">
    {% for condition in conditions %}
      {% if condition.title.startswith('O') and condition.url %}
        <div class="col-sm-12, col-md-6, col-lg-4">
          <p><a href= "{{ condition.url }}" target="_blank" class="all_condition_titles hyperlink">{{ condition.title }}</a>
          <!--Button to add to personal conditions-->
          <button id="{{ condition.condition_id }}" class="all_condition_add"> + </button></p>
        </div>
      {% endif %}
    {% endfor %}
  </div>

<h2 id ="p">P</h2>
 
  <div class="row">
    {% for condition in conditions %}
      {% if condition.title.startswith('P') and condition.url %}
        <div class="col-sm-12, col-md-6, col-lg-4">
          <p><a href= "{{ condition.url }}" target="_blank" class="all_condition_titles hyperlink">{{ condition.title }}</a>
          <!--Button to add to personal conditions-->
          <button id="{{ condition.condition_id }}" class="all_condition_add"> + </button></p>
        </div>
      {% endif %}
    {% endfor %}
  </div>

<h2 id ="q">Q</h2>
 
  <div class="row">
    {% for condition in conditions %}
      {% if condition.title.startswith('Q') and condition.url %}
        <div class="col-sm-12, col-md-6, col-lg-4">
          <p><a href= "{{ condition.url }}" target="_blank" class="all_condition_titles hyperlink">{{ condition.title }}</a>
          <!--Button to add to personal conditions-->
          <button id="{{ condition.condition_id }}" class="all_condition_add"> + </button></p>
        </div>
      {% endif %}
    {% endfor %}
  </div>

<h2 id ="r">R</h2>
 
  <div class="row">
    {% for condition in conditions %}
      {% if condition.title.startswith('R') and condition.url %}
        <div class="col-sm-12, col-md-6, col-lg-4">
          <p><a href= "{{ condition.url }}" target="_blank" class="all_condition_titles hyperlink">{{ condition.title }}</a>
          <!--Button to add to personal conditions-->
          <button id="{{ condition.condition_id }}" class="all_condition_add"> + </button></p>
        </div>
      {% endif %}
    {% endfor %}
  </div>

<h2 id ="s">S</h2>
 
  <div class="row">
    {% for condition in conditions %}
      {% if condition.title.startswith('S') and condition.url %}
        <div class="col-sm-12, col-md-6, col-lg-4">
          <p><a href= "{{ condition.url }}" target="_blank" class="all_condition_titles hyperlink">{{ condition.title }}</a>
          <!--Button to add to personal conditions-->
          <button id="{{ condition.condition_id }}" class="all_condition_add"> + </button></p>
        </div>
      {% endif %}
    {% endfor %}
  </div>

<h2 id ="t">T</h2>
 
  <div class="row">
    {% for condition in conditions %}
      {% if condition.title.startswith('T') and condition.url %}
        <div class="col-sm-12, col-md-6, col-lg-4">
          <p><a href= "{{ condition.url }}" target="_blank" class="all_condition_titles hyperlink">{{ condition.title }}</a>
          <!--Button to add to personal conditions-->
          <button id="{{ condition.condition_id }}" class="all_condition_add"> + </button></p>
        </div>
      {% endif %}
    {% endfor %}
  </div>

<h2 id ="u">U</h2>
 
  <div class="row">
    {% for condition in conditions %}
      {% if condition.title.startswith('U') and condition.url %}
        <div class="col-sm-12, col-md-6, col-lg-4">
          <p><a href= "{{ condition.url }}" target="_blank" class="all_condition_titles hyperlink">{{ condition.title }}</a>
          <!--Button to add to personal conditions-->
          <button id="{{ condition.condition_id }}" class="all_condition_add"> + </button></p>
        </div>
      {% endif %}
    {% endfor %}
  </div>

<h2 id ="v">V</h2>
 
  <div class="row">
    {% for condition in conditions %}
      {% if condition.title.startswith('V') and condition.url %}
        <div class="col-sm-12, col-md-6, col-lg-4">
          <p><a href= "{{ condition.url }}" target="_blank" class="all_condition_titles hyperlink">{{ condition.title }}</a>
          <!--Button to add to personal conditions-->
          <button id="{{ condition.condition_id }}" class="all_condition_add"> + </button></p>
        </div>
      {% endif %}
    {% endfor %}
  </div>

<h2 id ="w">W</h2>
 
  <div class="row">
    {% for condition in conditions %}
      {% if condition.title.startswith('W') and condition.url %}
        <div class="col-sm-12, col-md-6, col-lg-4">
          <p><a href= "{{ condition.url }}" target="_blank" class="all_condition_titles hyperlink">{{ condition.title }}</a>
          <!--Button to add to personal conditions-->
          <button id="{{ condition.condition_id }}" class="all_condition_add"> + </button></p>
        </div>
      {% endif %}
    {% endfor %}
  </div>

<h2 id ="x">X</h2>
 
  <div class="row">
    {% for condition in conditions %}
      {% if condition.title.startswith('X') and condition.url %}
        <div class="col-sm-12, col-md-6, col-lg-4">
          <p><a href= "{{ condition.url }}" target="_blank" class="all_condition_titles hyperlink">{{ condition.title }}</a>
          <!--Button to add to personal conditions-->
          <button id="{{ condition.condition_id }}" class="all_condition_add"> + </button></p>
        </div>
      {% endif %}
    {% endfor %}
  </div>

<h2 id ="y">Y</h2>
 
  <div class="row">
    {% for condition in conditions %}
      {% if condition.title.startswith('Y') and condition.url %}
        <div class="col-sm-12, col-md-6, col-lg-4">
          <p><a href= "{{ condition.url }}" target="_blank" class="all_condition_titles hyperlink">{{ condition.title }}</a>
          <!--Button to add to personal conditions-->
          <button id="{{ condition.condition_id }}" class="all_condition_add"> + </button></p>
        </div>
      {% endif %}
    {% endfor %}
  </div>

<h2 id ="z">Z</h2>
 
  <div class="row">
    {% for condition in conditions %}
      {% if condition.title.startswith('Z') and condition.url %}
        <div class="col-sm-12, col-md-6, col-lg-4">
          <p><a href= "{{ condition.url }}" target="_blank" class="all_condition_titles hyperlink">{{ condition.title }}</a>
          <!--Button to add to personal conditions-->
          <button id="{{ condition.condition_id }}" class="all_condition_add"> + </button></p>
        </div>
      {% endif %}
    {% endfor %}
  </div>

<script src="/static/all_conditions.js"></script>

</div>

</body>
{% endblock %}


