{% extends 'base.html' %}
{% block title %}Conditions{% endblock %}

{% block body %}

<h1>Health Conditions A to Z</h1>
<br>

<h3>
<ul>
  <li><a href="#a">A</a></li>
  <li><a href="#b">B</a></li>
  <li><a href="#c">C</a></li>
  <li><a href="#d">D</a></li>
  <li><a href="#e">E</a></li>
  <li><a href="#f">F</a></li>
  <li><a href="#g">G</a></li>
  <li><a href="#h">H</a></li>
  <li><a href="#i">I</a></li>
  <li><a href="#j">J</a></li>
  <li><a href="#k">K</a></li>
  <li><a href="#l">L</a></li>
  <li><a href="#m">M</a></li>
  <li><a href="#n">N</a></li>
  <li><a href="#o">O</a></li>
  <li><a href="#p">P</a></li>
  <li><a href="#q">Q</a></li>
  <li><a href="#r">R</a></li>
  <li><a href="#s">S</a></li>
  <li><a href="#t">T</a></li>
  <li><a href="#u">U</a></li>
  <li><a href="#v">V</a></li>
  <li><a href="#w">W</a></li>
  <li><a href="#x">X</a></li>
  <li><a href="#y">Y</a></li>
  <li><a href="#z">Z</a></li>

</ul>
</h3>
<br>

<h2 id ="a">A</h2>
 
<ul>
  {% for condition in conditions %}
    {% if condition.title.startswith('A') %}
    <li>
        <a href= "{{ condition.url }}">{{ condition.title }}</a>
    </li>
    {% endif %}
  {% endfor %}
</ul>

<h2 id ="b">B</h2>
 
<ul>
  {% for condition in conditions %}
    {% if condition.title.startswith('B') %}
    <li>
        <a href= "{{ condition.url }}">{{ condition.title }}</a>
    </li>
    {% endif %}
  {% endfor %}
</ul>


<h2 id ="c">C</h2>
 
<ul>
  {% for condition in conditions %}
    {% if condition.title.startswith('C') %}
    <li>
        <a href= "{{ condition.url }}">{{ condition.title }}</a>
    </li>
    {% endif %}
  {% endfor %}
</ul>

<h2 id ="d">D</h2>
 
<ul>
  {% for condition in conditions %}
    {% if condition.title.startswith('D') %}
    <li>
        <a href= "{{ condition.url }}">{{ condition.title }}</a>
    </li>
    {% endif %}
  {% endfor %}
</ul>


<h2 id ="e">E</h2>
 
<ul>
  {% for condition in conditions %}
    {% if condition.title.startswith('E') %}
    <li>
        <a href= "{{ condition.url }}">{{ condition.title }}</a>
    </li>
    {% endif %}
  {% endfor %}
</ul>


<h2 id ="f">F</h2>
 
<ul>
  {% for condition in conditions %}
    {% if condition.title.startswith('F') %}
    <li>
        <a href= "{{ condition.url }}">{{ condition.title }}</a>
    </li>
    {% endif %}
  {% endfor %}
</ul>


<h2 id ="g">G</h2>
 
<ul>
  {% for condition in conditions %}
    {% if condition.title.startswith('G') %}
    <li>
        <a href= "{{ condition.url }}">{{ condition.title }}</a>
    </li>
    {% endif %}
  {% endfor %}
</ul>

<h2 id ="h">H</h2>
 
<ul>
  {% for condition in conditions %}
    {% if condition.title.startswith('H') %}
    <li>
        <a href= "{{ condition.url }}">{{ condition.title }}</a>
    </li>
    {% endif %}
  {% endfor %}
</ul>


<h2 id ="i">I</h2>
 
<ul>
  {% for condition in conditions %}
    {% if condition.title.startswith('I') %}
    <li>
        <a href= "{{ condition.url }}">{{ condition.title }}</a>
    </li>
    {% endif %}
  {% endfor %}
</ul>


<h2 id ="j">J</h2>
 
<ul>
  {% for condition in conditions %}
    {% if condition.title.startswith('J') %}
    <li>
        <a href= "{{ condition.url }}">{{ condition.title }}</a>
    </li>
    {% endif %}
  {% endfor %}
</ul>

<h2 id ="k">K</h2>
 
<ul>
  {% for condition in conditions %}
    {% if condition.title.startswith('K') %}
    <li>
        <a href= "{{ condition.url }}">{{ condition.title }}</a>
    </li>
    {% endif %}
  {% endfor %}
</ul>

<h2 id ="l">L</h2>
 
<ul>
  {% for condition in conditions %}
    {% if condition.title.startswith('L') %}
    <li>
        <a href= "{{ condition.url }}">{{ condition.title }}</a>
    </li>
    {% endif %}
  {% endfor %}
</ul>

<h2 id ="m">M</h2>
 
<ul>
  {% for condition in conditions %}
    {% if condition.title.startswith('M') %}
    <li>
        <a href= "{{ condition.url }}">{{ condition.title }}</a>
    </li>
    {% endif %}
  {% endfor %}
</ul>

<h2 id ="n">N</h2>
 
<ul>
  {% for condition in conditions %}
    {% if condition.title.startswith('N') %}
    <li>
        <a href= "{{ condition.url }}">{{ condition.title }}</a>
    </li>
    {% endif %}
  {% endfor %}
</ul>

<h2 id ="o">O</h2>
 
<ul>
  {% for condition in conditions %}
    {% if condition.title.startswith('O') %}
    <li>
        <a href= "{{ condition.url }}">{{ condition.title }}</a>
    </li>
    {% endif %}
  {% endfor %}
</ul>

<h2 id ="p">P</h2>
 
<ul>
  {% for condition in conditions %}
    {% if condition.title.startswith('P') %}
    <li>
        <a href= "{{ condition.url }}">{{ condition.title }}</a>
    </li>
    {% endif %}
  {% endfor %}
</ul>

<h2 id ="q">Q</h2>
 
<ul>
  {% for condition in conditions %}
    {% if condition.title.startswith('Q') %}
    <li>
        <a href= "{{ condition.url }}">{{ condition.title }}</a>
    </li>
    {% endif %}
  {% endfor %}
</ul>

<h2 id ="r">R</h2>
 
<ul>
  {% for condition in conditions %}
    {% if condition.title.startswith('R') %}
    <li>
        <a href= "{{ condition.url }}">{{ condition.title }}</a>
    </li>
    {% endif %}
  {% endfor %}
</ul>

<h2 id ="s">S</h2>
 
<ul>
  {% for condition in conditions %}
    {% if condition.title.startswith('S') %}
    <li>
        <a href= "{{ condition.url }}">{{ condition.title }}</a>
    </li>
    {% endif %}
  {% endfor %}
</ul>

<h2 id ="t">T</h2>
 
<ul>
  {% for condition in conditions %}
    {% if condition.title.startswith('T') %}
    <li>
        <a href= "{{ condition.url }}">{{ condition.title }}</a>
    </li>
    {% endif %}
  {% endfor %}
</ul>

<h2 id ="u">U</h2>
 
<ul>
  {% for condition in conditions %}
    {% if condition.title.startswith('U') %}
    <li>
        <a href= "{{ condition.url }}">{{ condition.title }}</a>
    </li>
    {% endif %}
  {% endfor %}
</ul>

<h2 id ="v">V</h2>
 
<ul>
  {% for condition in conditions %}
    {% if condition.title.startswith('V') %}
    <li>
        <a href= "{{ condition.url }}">{{ condition.title }}</a>
    </li>
    {% endif %}
  {% endfor %}
</ul>

<h2 id ="w">W</h2>
 
<ul>
  {% for condition in conditions %}
    {% if condition.title.startswith('W') %}
    <li>
        <a href= "{{ condition.url }}">{{ condition.title }}</a>
    </li>
    {% endif %}
  {% endfor %}
</ul>

<h2 id ="x">X</h2>
 
<ul>
  {% for condition in conditions %}
    {% if condition.title.startswith('X') %}
    <li>
        <a href= "{{ condition.url }}">{{ condition.title }}</a>
    </li>
    {% endif %}
  {% endfor %}
</ul>

<h2 id ="y">Y</h2>
 
<ul>
  {% for condition in conditions %}
    {% if condition.title.startswith('Y') %}
    <li>
        <a href= "{{ condition.url }}">{{ condition.title }}</a>
    </li>
    {% endif %}
  {% endfor %}
</ul>

<h2 id ="z">Z</h2>
 
<ul>
  {% for condition in conditions %}
    {% if condition.title.startswith('Z') %}
    <li>
        <a href= "{{ condition.url }}">{{ condition.title }}</a>
    </li>
    {% endif %}
  {% endfor %}
</ul>






























{% endblock %}


