{% extends 'base.html' %}
{% block title %}Search for Condition{% endblock %}

{% block body %}<br>
<body id="search_condition_page-container">

  <div class="container">

    <div class="row">
      <div class="col-12">
        <div id="search_health_condition">
          <h1 id="search_condition_header">Search for Health Condition</h1><br>
          
            <form id="search_form" action = "/conditions/results">
              <input type="text", name="result">
              <button id = search_result type="submit">Search</button>
            </form><br>
        
            <p id="search_condition_intro">Enter full or partial name of health condition
               you are seeking to obtain more information.<br> 
               You may also search a related body part or symptom.</p>
        </div>
      </div>
    </div>


  </div>

</body>
{% endblock %}

