{% extends 'base.html' %}
{% block title %}Find Physician{% endblock %}

{% block body %}
<body id="search_physician_page">
<div id="invalid_zipcode"></div>
<br>


<h1 id="search_physician_header">Search for Physician</h1><br><br>

  <form id="physician_search">
    <p><b>Enter zipcode: </b><input type="text" id="zipcode" name="zipcode" placeholder="Zipcode"></p><br>
   
    <button id ="search_result" type="submit">Find Physician</button>
  </form><br><br><br>

  <div id="physician_map"></div>


  <div id="physicianResultsContainer">

  </div>

  
<script src="static/physicians.js"></script>

<script async
    src="https://maps.googleapis.com/maps/api/js?key={{ APIKEY }}&libraries=places&callback=initialize">
</script>



<script>
   const key = "{{ APIKEY }}"
</script>


</body>
{% endblock %}

