{% extends 'base.html' %}
{% block title %}Welcome{% endblock %}

{% block body %}

  <h1>Welcome to Continuing Care</h1>
  <br>
{% if 'email' not in session %}
  <h3>Login</h3>
  <br>

  <form action="/login" method="POST">
    <p>Email <input type="text" name="email"></p>
    <p>Password <input type="password" name="password"></p>
    <br>
    <p><input type="submit"></p>
  </form>
  <br>
  <br>
  <br>

  <h3>New User? </h3>
  <h5><a href = "/create_user">Create A New Account</a></h5>
  <br><br>

  <p>Empower yourself with knowledge about your health conditions.<br>
    Taking control of your health starts with understanding you're diagnosis.</p>
    <br>
  
    <p>Continuing Care provides information on variety of conditions that<br>
    let you explore and understand your health issues better including <br>
    causes, symptoms and treatments.</p>
    <br>
    
    <p>Create a personalized account to track and save the health conditions<br>
       that pertain to you, or that you are interested in learning more about.</p>

{% else %}

<a href="/profile">My Profile</a>
<br><br>

<p>Empower yourself with knowledge about your health conditions.<br>
  Taking control of your health starts with understanding you're diagnosis.</p>
  <br>

  <p>Continuing Care provides information on variety of conditions that<br>
  let you explore and understand your health issues better including <br>
  causes, symptoms and treatments.</p>
  <br>
  
  <p>Create a personalized account to track and save the health conditions<br>
     that pertain to you, or that you are interested in learning more about.</p>
  
 
{% endif %}

{% endblock %}

