{% extends 'base.html' %}
{% block title %}Welcome{% endblock %}


{% block body %}<br>
<body class="homepage-container background-image">

   <div class="container-fluid">
      <div class="row">
         <div class="col">
         <h1 class="welcome">Welcome to Continuing Care</h1>
         </div>
      </div>

      {% if 'email' not in session %}
      <div class="row">
         <div class="col-sm-12 col-md-6 col-lg-2">
            <div id="login-new-user">
               <h3 id="login">Login</h3>
                  <form action="/login" method="POST">
                     <p class="email">Email<br><input type="text" name="email"></p>
                     <p class="password">Password<br><input type="password" name="password"></p>
                     <br>
                     <p><input id="login_button" type="submit"></p>
                  </form><br><br>
            </div>
         </div>
         <div class="col-sm-12 col-md-6 col-lg-10">
            <div class="login-introduction">
               <p>Empower yourself with knowledge about your health conditions.<br>
                  Taking control of your health starts with understanding you're diagnosis.<br>
                  Continuing Care provides information on variety a of conditions that<br>
                  allows you to explore and understand your health issues better including<br>
                  causes, symptoms and treatments of each condition.</p>
         
               <p>Continuing Care also allows you to keep a record of your vitals such as<br>
                  blood pressure, heart rate, oxygen, weight, and glucose readings.<br>
                  You will have access to your vitals as a form to provide to your physician<br>
                  or a graph to show a better picture of your health overtime. Users will also<br>
                  be able to search for nearby physicians and save to their personal profile.</p>
         
               <p>Create a personalized account today to track and save the health conditions<br>
                  that pertain to you, or that you are interested in learning more about.</p><br>
         
                  <form action="/create_user">
                     <button id="new_user_button" type=submit><h6 id="new_user_link"> Create New Account </h6></button>
                  </form>
                     <br><br>

         {% else %}<br>

               <p id="link_to_profile"><a href="/profile" class="hyperlink">My Profile</a></p><br>
                 
                  <div class="profile-introduction">
                     <p>Empower yourself with knowledge about your health conditions.<br>
                        Taking control of your health starts with understanding you're diagnosis.<br>
                        Continuing Care provides information on a variety of conditions that<br>
                        allows you to explore and understand your health issues better including<br>
                        causes, symptoms and treatments of each condition.</p><br>
               
                     <p>Continuing Care also allows you to keep a record of your vitals such as<br>
                        blood pressure, heart rate, oxygen, weight, and glucose readings.<br>
                        You will have access to your vitals as a form to provide to your physician<br>
                        or a graph to show a better picture of your health overtime. Users will also<br>
                        be able to search for nearby physicians and save to their personal profile.</p>
                  </div>
             </div>
         </div>
         {% endif %}
      </div>
</body>
{% endblock %}

