{% extends 'base.html' %}
{% block title %}Welcome {{ name }} {% endblock %}

{% block body %}
<br>
  <h1>Welcome, {{ name }}</h1>
  <br><br>
 
  <h3>My Health Conditions</h3>

<!--If user has saved conditions-->
{% if all_user_conditions %}

  <!--Loop through each condition-->
  {% for user_condition in all_user_conditions %}
  <br>
  <div id="saved_condition">
    <!--Condition title and url link-->
    <p class="saved_condition_name"><a href ="{{ user_condition.condition.url }}">{{ user_condition.condition.title }}</a></p>

    <!--Delete condition button-->
    <button class="delete-condition" id="{{ user_condition.favorite_id }}" title="Delete Condition"><i class="bi bi-trash" id="{{ user_condition.favorite_id}}">Delete</i></button>
  
    <!--Lists synonyms conditions-->
    <p class="saved_synonyms"><b>Synonyms:</b> {{ user_condition.condition.all_synonyms }}</p>

    <!--Shows date condition added to profile-->
    <p class="saved_date">Date Added: {{ user_condition.date_added.strftime("%m/%d/%Y") }}</p>

    <!--Comments box-->
    <div class="form-floating">
      <form>
        <label for="floatingTextarea">Comments</label>
        <textarea class="form-control" name="comments-box" placeholder="Write comment here" id="comments-box"></textarea>
        <button class="comments-submit" id= "{{ user_condition.favorite_id }}">Save Comment</button>
    
        <!--Comments user entered will show up here as list-->
        <p class="saved_comments"><br>Your Comments:</p>
        {% if user_condition.comments %}
          <ul id="user_comments">
            {% for comment in user_condition.comments %}
                <li> {{ comment.comment }}
                  <!--For each comment, checkbox to delete-->
                <input type="checkbox" class="delete-comment" name="comment_ids[]" value="{{ comment.comment_id }}" id="{{ comment.comment_id }}"></li>
            {% endfor %}
          </ul> 
          <!--Delete checkboxes checked of comments-->
          <button type="submit" id="{{ user_condition.comments }}" class="delete-selected">Delete Selected</button>

        {% endif %}
      </form>
    </div>
  </div> 
 
    <br><br><br>
      
  {% endfor %}
{% endif %}


<script src="/static/comments.js"></script>
  

 
{% endblock %}

