{% extends 'base.html' %}
{% block title %}Document Vitals{% endblock %}

{% block body %}<br>
<body id="vital_sign_form_page-container">

  <div class="container">

    <div class="row">
      <div class="col-12">
        <div id="intro_vital_sign_form">
          <p>Take control of your health by keeping track of your vital signs.<br>
             Allows easy record keeping for you and your provider.</p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <div id="enter_vitals">
          <h4>Vitals Signs to Record:</h4>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <div id="vital_sign_form_container">
          <form id="vitalSignForm">
            
            <p id="systolic_form">Blood Pressure: <input type="text" id="systolic" name="systolic"><span> / </span><input type="text" id="diastolic" name="diastolic"></p>
            <!-- <p id="diastolic_form"><input type="text" id="diastolic" name="diastolic"></p><br> -->
            <p id="heart_rate_form">Heart Rate: <input type="text" id="heart_rate" name="heart_rate"></p>
            <p id="oxygen_form">Oxygen: <input type="text" id="oxygen" name="oxygen"></p>
            <p id="weight_form">Weight (lbs): <input type="text" id="weight" name="weight"></p>
            <p id="glucose_form">Glucose: <input type="text" id="glucose" name="glucose"></p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <div id="vital_submit_button">
          <button type="submit" class="submit-vitals">Save</button>
        </div>
        </form>
      </div>
    </div>
      
    </div>
    </div>

  
  <script src='static/vitals.js'></script>
</div>

</body>
{% endblock %}

