{% extends 'base.html' %}
{% block title %}Graph Vitals{% endblock %}

{% block head %}
<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Continuing Care</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">

        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Home</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/profile">My Profile</a>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Conditions
            </a>

            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="/conditions/search">Search for Health Condition</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="/conditions">Health Conditions A to Z</a></li>
            </ul>
          </li>

          <li class="nav-item dropdown">

            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Vitals
            </a>

            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="/vitals">Document Vitals</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="/vitals/allrecords">View My Vitals</a></li>
              <li><a class="dropdown-item" href='/vitals_graph'>Vital Graphs</a></li>
            </ul>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/findphysician">Find Physician</a>
          </li>

        </ul>
        
        <form action="/conditions/results" class="d-flex" role="search">
          <input class="form-control me-2" type="search" name="result" placeholder="Health Condition" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>

        
        <form action="/logout" method="post">
          <button type="submit">Logout</button>
        </form>
        
      </div>
    </div>
  </nav>


    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="/static/chart.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/4.4.0/chart.min.js" integrity="sha512-7U4rRB8aGAHGVad3u2jiC7GA5/1YhQcQjxKeaVms/bT66i3LVBMRcBI9KwABNWnxOSwulkuSXxZLGuyfvo7V1A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
{% endblock %}

{% block body %}
<body id="vital_sign_graph_page-container">

<div class="container">

    <div class="row">
        <div class="col-12">
            <div id="vital_graph_page_header">
                <h1>Vital Signs</h1>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div id="link_to_graphs_header">
                <h5 id="link_to_graph">View Associated Graph</h5>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div id="links_to_graphs">
                <p><a href="#bp_chart_graph" class="hyperlink">Blood Pressure</a></p>
                <p><a href="#hr_chart_graph" class="hyperlink">Heart Rate</a></p>
                <p><a href="#oxygen_chart_graph" class="hyperlink">Oxygen Saturation</a></p>
                <p><a href="#weight_chart_graph" class="hyperlink">Weight</a></p>
                <p><a href="#glucose_chart_graph" class="hyperlink">Glucose</a></p>
            </div>
        </div>
    </div>

    <div class="outer_graph">
        <div class="chart-container" id="bp_chart_graph">
            <h3>Blood Pressure</h3>
            <p>Normal Systolic Range: 90-120</p>
            <p>Normal Diastolic Range: less than 80</p>
            <canvas id="blood_pressure_chart"></canvas>
        </div>
    </div>

    <div class="outer_graph">
        <div class="chart-container" id="hr_chart_graph">
            <h3>Heart Rate</h3>
            <p>Normal Range: 60-100</p>
            <canvas id="heart_rate_chart"></canvas>
        </div>
    </div>

    <div class="outer_graph">
        <div class="chart-container" id="oxygen_chart_graph">
            <h3>Oxygen Saturation</h3>
            <p>Normal Range: 92-100</p>
            <canvas id="oxygen_chart"></canvas>
        </div>
    </div>


    <div class="outer_graph">
        <div class="chart-container" id="weight_chart_graph">
            <h3>Weight</h3>
            <canvas id="weight_chart"></canvas>
        </div>
    </div>

    <div class="outer_graph">
        <div class="chart-container" id="glucose_chart_graph">    
            <h3>Glucose</h3>
            <canvas id="glucose_chart"></canvas>
        </div>
    </div>

<script src="static/chart.js"></script>

</div>

</body>

{% endblock %}

